    <h1 class="signup-title">Sign up your Account Now</h1>
    <form id = "signup-form" action = "signup" method = "POST">
        <div class="form-group-name">
            <label for="nameSignUp">Enter Your Name Here</label>
            <input type="text" class="form-control" id="nameSignUp" name="name" placeholder="Name" value="{{userInfo.name}}">
        </div>
    
        <div class="form-group-category">
            <label for="categorySignUp">Enter Your Category Here</label>
            <input type="text" class="form-control" id="categorySignUp" name="category" placeholder="category" value="{{userInfo.category}}">
        </div>
         <div class="form-group-qualification">
            <label for="qualificationSignUp">Enter Your Qualification Here</label>
            <input type="text" class="form-control" id="qualificationSignUp" name="qualification" placeholder="qualification" value="{{userInfo.qualification}}">
        </div>
        <div class="form-group-password">
            <label for="passwordSignUp">Enter Your Password here!<br/> (At least 8 characters, 1 capital letter, and 1 number)</label>
            <input type="password" class="form-control" id="passwordSignUp" name="password" placeholder="Password">
        </div>
        <div class="form-group-email">
            <label for="emailSignUp">Enter Your E-Mail Here!</label>
            <input type="text" class="form-control" id="emailSignUp" name="email" placeholder="E-mail Address" value="{{userInfo.email}}">
        </div>
         <div class="form-group-email">
            <label for="emailSignUp">Enter Your Phome Here!</label>
            <input type="text" class="form-control" id="phoneNumberSignUp" name="phoneNumber" placeholder="Phone Number" value="{{userInfo.phoneNumber}}">
        </div>
        <div class="form-group-birthday">
            <label for="dateOfBirthSignUp">Enter Your Birthday Here</label>
            <input type="date" class="form-control" id="dateOfBirthSignUp" name="dateOfBirth" value="{{userInfo.dateOfBirth}}">
        </div>
        <input type="submit" class="btn btn-default" value = "Submit">
      <div class="form-group">
        <div class="alert alert-danger">
          
          <ul id = "results">
             {{#each errors}}

            <li class = "errormessage">{{this}}</li>
                {{/each}}

          </ul>
        </div>
      </div>
      <div class="success alert-success" hidden>
      </div>
    </form>
    <script src="/public/js/signup.js"></script>