<div>
    <b>Hey user! You have these appointments scheduled</b>
</div>
{{#each appointments}}
<div class="review-card">
<form method="POST" action="/users/my-appointments">


  <div>
{{#if this.requestReschedule}}
  {{#unless this.fulfilled}}
 <div><h2>You have requested for a reschedule. Please wait for the doctor's decision</h2></div>
    
  {{else}}
   
  {{/unless}}
{{else}}

{{/if}}

    {{!-- ---------------------- --}}
  {{!-- {{#if this.requestReschedule }}

{{#if this.fulfilled}}
{{#else}}


{{/if}} --}}

   
  {{!-- {{else}}

  {{/if}} --}}
  </div>
  


<div>
<h1>You have an appointment at</h1> <h2>{{this.timeSlot}}</h2> <h3>on</h3> <h2>{{this.date}}</h2> <h3>with</h3> <h2>{{this.doctorId}}</h2>
</div>
   {{#unless this.requestReschedule}}

 {{#unless this.fulfilled}}

     <div>
   <button type="submit">Cancel this appointment </button> 
</div>
{{else}}

{{/unless}}

{{else}}

{{/unless}}

  
</form>
<form action="/users/review" method="POST">
<input type="hidden" name="hidden" value={{this.doctorId}}>

  {{#if this.fulfilled}}
   
 {{#unless this.reviewGiven}}
   <button type="submit"> Give a review</button>
{{else}}
{{/unless}}

{{else}}

{{/if}}

{{!-- </div> --}}

</form>
<div>
{{#unless this.fulfilled}}
     <a href="/users/reschedule" class = "btn btn-primary">Request for a reschedule</a>
{{else}}

{{/unless}}


  
</div>
</div>
{{/each}}


