<form method="post" action="/users/select-slot" >
{{doctor}}
<div>
    {{error}}
</div>
<table>

<tr>
    {{#each availableSlots.slots}}
<input type="checkbox" id={{this.time}} name={{this.time}}>
<label class="toggle-control" for={{this.time}}>{{this.time}}</label>

{{/each}}
</tr>
    
</table>
<button type="submit">Book This slot!</button>
<div>Booking closes in <span id="time">5:00</span></div>
</form>

<script>
function startTimer(duration, display) {
        
        let endTimer =setInterval(function () {
            minutes = parseInt(duration/ 60)
            seconds = parseInt(duration % 60);

            if(seconds<10){display.textContent= `${minutes}:0${seconds}`}
            else{
            display.textContent = minutes + ":" + seconds;

            }
            duration--

            if (duration<0) {
                window.location = "http://localhost:3000/users/book-appointment";
                clearInterval(end);
            }
        }, 1000);
    }


    window.onload= ()=>{
   let fiveMinutes = 300,
  display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    }
</script>